.Counter{
    margin: auto;
    width: 30%;
    color: gray;
    
  
}
body{
    background-color: rgb(231, 231, 228);
}

button{
    color: red;
    
}
h1{
    font-size: 100px;
    text-align: center;
}

.content{
    margin-top: 100px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
    text-align: center;
    width: 500px;
}
span{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}